<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
    <div class="row">
      <h1 class="col-lg-12">Gestor de clientes</h1>
      <button on-click="obtenerClientes">Obtener clientes</button>
      <button on-click="obtenerClientes2">Obtener clientes 2</button>
      <input type="text" id="idcliente" placeholder="ID cliente" value="{{idCli::input}}">
      <input type="text" id="nombre" placeholder="Nombre" value="{{nomCli::input}}">
      <input type="text" id="apellidos" placeholder="Apellidos" value="{{apeCli::input}}">
      <button on-click="anadirCliente">Añadir clientes</button>
      <button on-click="anadirCliente2">Añadir clientes 2</button>
      <input type="text" id="datosjson" placeholder="json" value="{{datosjson::input}}">
      <button on-click="anadirCliente3">Añadir clientes 3</button>
      <table hidden$="{{noCargados}}">
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>
                [[item.idcliente]]
              </td>
              <td>
                [[item.nombre]]
              </td>
              <td>
                [[item.apellidos]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    </div>
  </template>
  <script>

  class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        clientes: {
          type: Array,
          notify: true
        },
        noCargados: {
          type: Boolean,
          value: true
        },
        idCli: {
          type: Number,
          value: ''
        },
        nomCli: {
          type: String,
          value: ''
        },
        apeCli: {
          type: String,
          value: ''
        },
        datosjson: {
          type: String,
          value: ''
        }
      };
    }
    obtenerClientes() {
      var request = new XMLHttpRequest();
////*********************** ojo con el localhost
      request.open("GET", "http://localhost:3000/movimientos", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText);
      console.log(this.clientes);
      this.noCargados = false;
    }
    obtenerClientes2() {
      var request = new XMLHttpRequest();
////*********************** ojo con el localhost
      request.open("GET", "http://localhost:3000/movimientos2", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText);
      console.log(this.clientes);
      this.noCargados = false;
    }
    anadirCliente() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/movimientos", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      //console.log(this.idCli);
      var nuevoCliente = {"idcliente":this.idCli,"nombre":this.nomCli,"apellido":this.apeCli};
      console.log(nuevoCliente);
      var body = JSON.stringify(nuevoCliente);
      console.log(body);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.noCargados = false;
    }
    anadirCliente2() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/movimientos2", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      //console.log(this.idCli);
      //var nuevoCliente = {"idcliente":this.idCli,"nombre":this.nomCli,"apellido":this.apeCli};
      //console.log(nuevoCliente);
      //var body = JSON.stringify(nuevoCliente);
      //console.log(body);
      request.send();
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.noCargados = false;
    }
    anadirCliente3() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/movimientos3", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      //console.log(this.idCli);
      var nuevoCliente = this.datosjson;
      console.log(nuevoCliente);
      //var body = JSON.stringify(nuevoCliente);
      var body = nuevoCliente;
      console.log(body);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.noCargados = false;
    }
  }
  window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
